/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0px;
	padding: 0;
	font-size: 12px;
	color: #616161;
	height: 100vh; 
	position: fixed; 
	background-color: #444444;
}

td, tr {
	border: none !important;
}

h1, h2, h3 {
	margin-top: 0;
}

h1 {
	font-size: 1.6em;
	font-weight: normal;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1em;
	margin-top:20px;
}

ul {
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a img {
	border: none;
}

img.left {
	float: left;
	margin: 0 20px 0 0;
}

img.right {
	float: right;
	margin: 0 0 0 20px;
}

/* Header */
#logo {
	width: 960px;
	height: 75px;
	margin: 0 auto;
	padding: 25px 10px 0 10px;
}

#logo h1, #logo p {
	float: left;
	margin: 0;
}

#logo h1 {
	padding: 0 0 0 0;
	letter-spacing: -1px;
	font-weight: normal;
	font-size: 3em;
}

#logo p {
	text-transform: uppercase;
	padding: 47px 0 0 3px;
	font-size: 10px;
	color: #FFFFFF;
}

#logo a {
	border: none;
	text-decoration: none;
	color: #DC8700;
}

/* Menu */
#menu {
	width: 960px;
	margin: 0 auto;
	padding: 0;
	height: 59px;
}

#menu ul {
	margin: 0;
	padding-left: 270px;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu li a {
	display: block;
	float: left;
	height: 42px;
	margin: 0;
	padding: 18px 40px 0 40px;
	text-decoration: none;
	font-size: 20px;
}

#menu li a:hover {
	text-decoration: underline;
}

/* Wrapper */

#wrapper {
}

/* Page */

#page {
	width: 960px;
	margin: 0 auto;
	padding: 20px 5px;
	background: #FFFFFF;
}

#page-bg {
}

/* Latest Post */

#latest-post {
	padding: 20px;
	border: 1px solid #E7E7E7;
}

/* Content */

#content {
	float: left;
	width: 700px;
}

.post {
	padding-bottom: 15px;
}

.post h1 {
	font-weight: normal;
}

.title {
	height: 30px;
	margin-left: 10px;
	padding: 8px 0 0 20px;
}

.title a {
	border-bottom: none;
	color: #FFFFFF;
}

.title a:hover {
	border-bottom: 1px dotted #000000;
}

.byline {
	margin: -60px 20px 20px 20px;
}

.byline a {
	color: #DC8700;
}

.tag {
	padding: 0 15px;
}

.entry {
	padding: 0 20px;
}

.entry p {
	line-height: 200%;
}

.links {
	padding: 4px 0px;
	text-align: right;
	font-weight: bold;
}

.links a {
	border: none;
}

.links a:hover {
}

/* Sidebars */

#sidebar1 {
	float: left;
	margin-top: -81px;
	margin-left: -1px;
}

#sidebar2 {
	float: right;
}

.sidebar {
	float: left;
	width: 240px;
	padding: 0;
	font-size: 12px;
}

.sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar li {
	padding: 0 0 20px 0;
}

.sidebar span {
	cursor: pointer;
}

.sidebar li ul {
}

.sidebar li li {
	margin: 0 10px 0 10px;
	padding: 3px 0px;
}


.sidebar li h2 {
	height: 40px;
	margin: 0 0 0 0;
	padding: 20px 15px 0px 65px;
	background: url(../images/img04.jpg) no-repeat left top;
	letter-spacing: -1px;
	font-size: 16px;
	font-weight: normal;
	color: #FFFFFF;
}

.sidebar a {
}

.sidebar a:hover {
	text-decoration: underline;
}

/* Search */

#searchform {
	margin: 0;
	padding: 0 0 0 0;
}

#searchform br {
	display: none;
}

#searchform h2 {
}

#s {
	margin: 10px 0px 0 15px;
	padding: 2px 2px;
	width: 180px;
	height: 18px;
	border: 1px solid #6F6E6E;
	background: #FFFFFF;
	font-size: 10px;
	color: #000000;
}

#x {
	margin: 0;
	padding: 2px 5px;
	height: 25px;
	background: #CA8186;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #CCCCCC;
}
/* Calendar */

#calendar_wrap {
	padding: 0 15px;
	text-align: center;
}

#calendar_wrap table {
	width: 100%;
}

#calendar_wrap th {
}

#calendar_wrap td {
}

#calendar_wrap tfoot td {
	border: none;
}

#calendar_wrap tfoot td#prev {
	text-align: left;
	font-weight: bold;
	border: none;
}

#calendar_wrap tfoot td#prev a {
	border: none;
}

#calendar_wrap tfoot td#next {
	text-align: right;
	font-weight: bold;
	border: none;
}

#calendar_wrap tfoot td#next a {
	border: none;
}

/* Footer */

#footer {
	width: 960px;
	height: 70px;
	margin: 0 auto;
	padding: 0 20px;
}

#footer p {
	margin: 0;
	padding: 25px 0 0 0;
	text-align: center;
	font-size: smaller;
}

#footer a {
}

#footer .link {
	float: right;
}

#footer .copyright {
	float: left;
}

.ui-growl {
    top:115px;
}

.ui-inputfield {
	color: black;
	width: 80%;
}

.ui-autocomplete {
	width: 100%;
}

.buttonAdd { 
	background-image: url('../resources/img/novo.png') !important;
	background-position:0px -1px !important; 
	background-repeat: no-repeat !important; 
	padding-left: 15px !important; 
}

.ui-state-hover {
	background-position:0px -1px;
}

.ui-dock-container-top {
	position: fixed;
	background: url('../resources/img/dock_bg_atlas.png');
	background-repeat: no-repeat;
	border: none;
	height: 
}

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
	color: black !important;
	border: none !important;
}

.errorMessage {
	color: red;
	font-weight: bold;
	font-size: 10px;
}

.ui-selectonemenu{
     width: 81% !important;
}

.ui-selectonemenu-label{
     width: 98% !important;
}

.link-icon { 
	background-image: url('../resources/img/link.png');
	background-position:0px -1px; 
	background-repeat: no-repeat; 
}
  
.searchIcon { 
	background-image: url('../resources/img/search.png') !important;
	background-position:2px 0px !important; 
	background-repeat: no-repeat !important; 
}  

.themeTitle {
	background-image: url('../resources/img/theme.gif') !important;
	background-repeat: no-repeat !important;
	background-size: 20px 20px !important;
	background-position: 2px 8px !important; 
}

.externalTitle {
	background-image: url('../resources/img/external.png') !important;
	background-repeat: no-repeat !important;
	background-size: 18px 18px !important;
	background-position: 4px 9px !important; 
}

.pluginTitle {
	background-image: url('../resources/img/plugin.png') !important;
	background-repeat: no-repeat !important;
	background-size: 19px 19px !important;
	background-position: 2px 9px !important; 
}

.baseLayerTitle {
	background-image: url('../resources/img/baseLayer.png') !important;
	background-repeat: no-repeat !important;
	background-size: 21px 21px !important;
	background-position: 3px 8px !important; 
}

.layerTitle {
	background-image: url('../resources/img/layer.png') !important;
	background-repeat: no-repeat !important;
	background-size: 20px 20px !important;
	background-position: 2px 8px !important; 
}

.metadataTitle {
	background-image: url('../resources/img/metadata.png') !important;
	background-repeat: no-repeat !important;
	background-size: 19px 19px !important;
	background-position: 4px 8px !important; 
}

.ui-tabs .ui-tabs-nav.ui-widget-header li.ui-state-active a, .ui-tabs .ui-tabs-nav.ui-widget-header li.ui-state-active a {
	font-size: 13px !important;
	font-weight: bold !important;	
	color: black;
}

.ui-tabs .ui-tabs-nav.ui-widget-header li.ui-state-hover a {
	background: transparent none;
	border-color: #379dcc;
	border-bottom: solid;
	border-bottom-color: white;
}

.ui-tabs .ui-tabs-nav.ui-widget-header li.ui-state-active a, .ui-tabs .ui-tabs-nav.ui-widget-header li.ui-state-active a {
	background: transparent none;
	border-bottom: solid;
	border-bottom-color: white;
}

.ui-panelgrid {
	border: none !important;
	border-collapse: collapse;
}

.ui-panelgrid .ui-panelgrid-cell {
	border: none !important;
}

.ui-tree .ui-treenode {
    border: 0px solid black !important;
    width: 100% !important;
}

.ui-widget-content {
	border-color: white !important;
}

.ui-tree .ui-widget .ui-widget-content .ui-corner-all {
	border: none !important;	
}

.ui-widget-content .ui-datatable-even {
	border: none !important;
}

.ui-widget-content .ui-panelgrid-even {
	border: none !important;
}

.ui-datatable-data .ui-widget-content {
	border: none !important;
}

.themeTree {
	width: 100% !important; 
	height: 125px !important; 
	margin-top: 2px; 
	border: none !important; 
	overflow-y: scroll; 
	display: block !important;
}

